$nav-background: #212529;

$body-background: #343a40;
$nav-text: #f783ac;

* {
  font-family: "Inter", sans-serif;
}

.nav-text {
  color: $nav-text !important;
}

Nav a:hover {
  text-decoration: underline !important;
}

.main-view-nav {
  background-color: $nav-background !important;
}

.main-view-nav:hover {
  background-color: rgba(0, 0, 0, 0.918) !important;
  transition: all 800ms;
}

.container-form {
  width: 28rem !important;
}

.card-styling {
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.login-button {
  width: 5rem;
  margin-right: 1rem;
}

.register-button a {
  color: #fff !important;
}

.register-button {
  width: 8rem;
  color: #fff !important;
}

#classicformpage {
  padding-bottom: 32rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 90vh !important; //aligns perfectly with bottom :)  was orignially 100vh
}

#classicformpage label {
  color: #fff !important;
}

.main-view-nav {
  background-color: $nav-background !important;
}

.login-container {
  max-width: 100% !important;
}
