// $nav-text: #da77f2;
$nav-background: #212529;
$body-background: #343a40;
$nav-text: #f783ac;

* {
  font-family: "Inter", sans-serif !important;
}

.nav-text {
  color: $nav-text !important;
}

Nav a:hover {
  text-decoration: underline !important;
}

.main-view-nav {
  background-color: $nav-background !important;
  //play around with nav padding
  padding: 1.5rem 3rem !important;
}

.main-view-nav:hover {
  background-color: rgba(0, 0, 0, 0.918) !important;
  transition: all 800ms;
}

.main-view-container {
  width: 100% !important;
}
