$nav-background: #212529;

$body-background: #343a40;
$nav-text: #f783ac;

* {
  font-family: "Inter", sans-serif !important;
}

.main-view {
  display: block !important;
}

.main-view div {
  max-width: 100% !important;
}

.register-form {
  margin-top: 6rem !important;
}

.register-flex {
  // margin: 0 auto !important;
  margin-right: 9rem !important;
  margin-left: 9rem !important;
}

.registration-button {
  margin-top: 2rem;
}

#classicformpage {
  padding-bottom: 32rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  // max-height: 100vh !important; //aligns perfectly with bottom :)
}

#classicformpage .card {
  background-color: rgba(126, 123, 215, 0.2);
}

#classicformpage h6 {
  line-height: 1.7;
}

#classicformpage .top-nav-collapse {
  background: #424f95 !important;
}

#classicformpage label {
  color: #fff !important;
}

// .nav-text {
//   color: $nav-text !important;
// }

// Nav a:hover {
//   text-decoration: underline !important;
// }

// .main-view-nav {
//   background-color: $nav-background !important;
// }

// .main-view-nav:hover {
//   background-color: rgba(0, 0, 0, 0.918) !important;
//   transition: all 800ms;
// }

//font-family: 'Inter', sans-serif;

// .nav-main {
//   padding: 1.5rem 3rem !important;
// }
