.search-filter{
    float:right !important;
    width:25% !important;
    margin-right:1.8rem !important;
    // margin-left:60rem !important;
 
}

.mg{
    margin-right:3.6rem !important;
    margin-left:2.6rem !important;
}