$bg-color: #212529;
$title-color: #a5d8ff;
$secondary-black: #212529;
$title-color-secondary: #f783ac;
$body-background: #343a40;
// font-family: "Playfair Display SC", serif;

* {
  font-family: "Inter", sans-serif !important;
}

.card-container {
  margin-top: 3rem;
  margin-bottom: 2rem;
  //this is really important to keep the form of the card below
  width: 20rem !important;
}

.movie-card {
  border-radius: 50%;
  margin: 4px;
  padding: 2px;
  background-color: $bg-color !important;
  transition: all 600ms;
}

.movie-card:hover {
  background-color: rgba(0, 0, 0, 0.918) !important;
  scale: 105%;
}

.card-title-name {
  font-size: 0.8rem !important;
  font-family: Playfair Display SC, serif !important;

  color: #fff !important;
  font-weight: 700 !important;
  color: $title-color !important;
  // color: $title-color-secondary !important;
}

.card-body {
  padding: 1rem;
}

.description {
  font-size: 12px;
  overflow: hidden;
  height: 2rem;
  color: #fff;
  font-weight: bold;
}

.card-img {
  width: 100%;
  height: 24rem;
  // object-fit: cover;
}

.card-button {
  color: beige !important;
  // color: $body-background !important;
  background: rgba(255, 255, 255, 0.536) !important;
  background-color: $body-background !important;
  margin-top: 0.8rem;
  text-decoration: none !important;
}

.card-button:hover {
  background-color: $secondary-black !important;
  color: $title-color-secondary !important;
}

// .text:hover {
//   transition: 200ms;
//   color: $title-color-secondary !important;
// }

.button.card-button.btn.btn-link {
  margin-top: 0 !important;
}
